

.cart-dropdown{
    position:absolute;
    width:240px;
    height:340px;
    display:flex;
    flex-direction:column;
    padding:20px;
    border :1px solid black;
    background-color:white;
    top:80px;
    right:5px;
    z-index:5;

    .cart-items{
        height:240px;
        display:flex;
        flex-direction:column;

        .empty-message{
            font-size:18px;
            font-weight:bold;
            color:gray;
            margin:50px auto;


        }
        //custom scroll
        overflow-y:scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 8px;
            color:black;
            border-radius:12px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background:black;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background:grey;
        }
    }

    .button{
        margin-top:12px;
    }
}